<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Weather App</title>
    <style>
        #table_tags{

        }
        #header{
           background-color: #2a2b2b;
           padding-bottom: 20px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
    <div  id="header">
        <form class="form-inline" method="POST" action="">
         {% csrf_token %}
      <div class="form-group mx-sm-3 mb-2">
        <input type="text" name="pretraga">
       <input type="submit" name="search_city"  onclick = "this.form.action = &quot{% url 'search_city' %}&quot">
      </div>
    </form>
    </div>
    <table class="table table-striped table-dark">
  <thead>
    <tr id="table_tags" style="color: #42d1f5">
        <th scope="col"></th>
      <th scope="col">Name</th>
        <th scope="col">Time of Measurement</th>
        <th scope="col">Temp</th>
      <th scope="col">Feels Like</th>
      <th scope="col">Min</th>
        <th scope="col">Max</th>
        <th scope="col">Pressure</th>
        <th scope="col">Humidity</th>
      <th scope="col">Weather</th>
    </tr>
  </thead>
  <tbody>

     {% for city in cities %}
    <tr>
        <th><input type="checkbox" value=""></th>
      <th style="color: #e8491d" scope="row">{{ city.name | capfirst }}</th>
         <td>{{ city.display_stat.date}}</td>
      <td>{{ city.display_stat.temp }}</td>
      <td>{{ city.display_stat.feels_like }}</td>
      <td>{{ city.display_stat.temp_min }}</td>
      <td>{{ city.display_stat.temp_max }}</td>
      <td>{{ city.display_stat.pressure }}</td>
        <td>{{ city.display_stat.humidity }}</td>
        <td>{{ city.display_stat.weather | capfirst }}</td>
        <td>
            <form method="POST" action="">
                {% csrf_token %}
                <input name="{{ city.name }}" value="X" type="submit" class="btn btn-outline-info"
                       onclick="this.form.action = &quot{% url 'delete_city' %}&quot"/>
            </form>

        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</body>
</html>